.profile-detail{
    border: 1px solid #cccc;
    border-radius: 16px;
    padding: 16px;
}
  /* Style for select */
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
   select::-ms-expand {
    display: none;
  }
  
  select::-webkit-select-arrow {
    display: none;
  }
  
  select::after {
    content: '\25BC';  
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;  
  }