<div class="dashboard-content-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 responsive-column-half">
                <div class="card card-item">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center pb-4">
                            <h3 class="fs-18 font-weight-semi-bold">Deposit Transaction List: </h3>
                            <!-- <span class="fs-15 cursor-pointer">View all</span> -->
                        </div>
                        <form [formGroup]="filterform" (ngSubmit)="matchesSearchText(filterform.value)">
                        <div class="filtertabs">
                             <div class="mlr-20">
                                <label for="searchText">Search:</label><br>
                                <input type="text" placeholder="Search" formControlName="search" />
                             </div>
                            <div class="mlr-20">
                                <label for="kycStatusFilter">Transaction  Status:</label><br>
                                <select id="kycStatusFilter" formControlName="selectedOption">
                                  <option value="">All</option>
                                  <option value="1">Completed</option>
                                  <option value="2">Pending</option>
                                  <option value="0">Rejected</option>
                                  </select>
                            </div>
                            <div class="mlr-20">
                                <label for="kycStatusFilter"></label><br>
                             <button type="submit" class="btn theme-btn" >Submit</button>
                            </div>
                            <div class="mlr-20">
                                <label for="kycStatusFilter"></label><br>
                                <button (click)="exportToExcel()" class="btn btn-primary" style="margin-left: 80px;">Export to Excel</button>
                            </div>
                            <!-- <div class="mlr-20">
                                <label for="kycStatusFilter">Transaction  Type:</label><br>
                                <select id="kycStatusFilter" [(ngModel)]="typeStatus">
                                  <option value="">All</option>
                                  <option value="Deposit">Deposit</option>
                                  <option value="Withdraw">Withdraw</option>
                                  <option value="Wallet Transfer">Wallet Transfer</option>

                                 </select>
                            </div> -->
                        </div>
                    </form>

                        <div class="notification-body">
                            <div class="table-responsive mb-5">
                                <table class="table generic-table mb-3 text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Transaction Date</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Requested Amount</th>
                                        <th scope="col">Receive Amount</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody *ngIf="userlist.length > 0; else noData ">
                                    <tr *ngFor="let item of userlist;">
                                        <th scope="row">
                                            <ul class="generic-list-item">
                                                <li>{{ item.initiatedDate}}</li>
                                            </ul>
                                        </th>
                                        
                                        <td>
                                            <ul class="generic-list-item">
                                                <li>{{item.username}}</li>
                                            </ul>
                                        </td>
                                       
                                        <td>
                                            <ul class="generic-list-item">
                                                <li>{{item.amount}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="generic-list-item">
                                                <li>{{item.amount}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="generic-list-item">
                                                 <li *ngIf="item.status== '0'">Rejected</li>
                                                <li *ngIf="item.status== '1'">Approved</li>
                                                <li *ngIf="item.status=='2'">Pending</li>
 
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="generic-list-item">
                                                <li (click)="userdetails(item)" style="cursor: pointer;"><i class="fa fa-edit"></i></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <ng-template #noData>
                                        <tbody>
                                          <tr>
                                            <td colspan="8">
                                                <img src="assets/images/not-fount.png" alt=""><br>
                                                <h4>SORRY</h4>
                                                <p>We Haven’t Found Any Data</p><br><br><br><br>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </ng-template>
                                </table>
                                <div class="text-center">
                                    <div *ngIf="!loading">
                                        <!-- Pagination buttons -->
                                        <ul class="pagination justify-content-center">
                                          <li class="page-item" [class.disabled]="currentPage === 1" style="margin: 10px;">
                                            <a (click)="changePage(currentPage - 1)" class="previous" style="background-color:white !important;cursor: pointer;">&laquo; Previous</a>
                                          </li>
                                          <li class="page-item" *ngFor="let pageNumber of visiblePageNumbers">
                                            <a class="page-link" [class.active]="pageNumber === currentPage" (click)="changePage(pageNumber)" href="javascript:void(0);">
                                              {{ pageNumber }}
                                            </a>
                                          </li>
                                          <li class="page-item" [class.disabled]="currentPage === totalPages" style="margin: 10px;">
                                            <a (click)="changePage(currentPage + 1)" class="next" style="background-color:white !important;cursor: pointer;">Next &raquo;</a>
                                          </li>
                                        </ul>
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end card -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container-fluid -->
</div><!-- end dashboard-content-wrap -->

 